volumes:
  postgres_data:
    driver: local
    driver_opts:
      type: none
      device: ./data/postgres
      o: bind
  mongo_data:
    driver: local
    driver_opts:
      type: none
      device: ./data/mongo
      o: bind
  clickhouse_data:
    driver: local
    driver_opts:
      type: none
      device: ./data/clickhouse
      o: bind
services:
  mongo:
    image: mongo:latest
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
  postgres:
    image: postgres:latest
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
      PG_DATA: /var/lib/postgresql/
    ports:
      - "5555:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/
  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse
    restart: on-failure
    environment:
      CLICKHOUSE_LISTEN_HOST: 0.0.0.0
      CLICKHOUSE_USER: ch
      CLICKHOUSE_PASSWORD: ch
      CLICKHOUSE_DB: stats
    ports:
      - "8123:8123"
      - "9000:9000"
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    volumes:
      - clickhouse_data:/var/lib/clickhouse
  stats:
    image: python:alpine
    environment:
      PG_URL: postgres://postgres:postgres@postgres:5432/postgres
    volumes:
      - ./:/app
    working_dir: /app
    command: python3 git_mergestat.py
